@using System.Diagnostics

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2> Welcome to E Booking Car</h2>
            </div>
            
        </div>
    </div>
</div>

       

       
