@{
    ViewData["Title"] = "Manage Booking";
}

<div class="row" style="margin-left: unset; margin-right: unset;">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <table id="dataTable" class="table table-bordered">
            <thead class="text-secondary-m2 bg-tbl-header bg-primary text-white">
                <tr>
                    <th class="">Khách hàng</th>                    
                    <th style="text-align:center">Điện thoại</th>
                    <th style="text-align:center">Điểm đón</th>
                    <th style="text-align:center">Điểm đến</th>
                    <th style="text-align:center">Ngày đặt</th>
                    <th style="text-align:center">Giờ đặt</th>
                    <th style="text-align:center">Trạng thái</th>
                    <th style="text-align:center">Đơn giá</th>
                    <th style="text-align:center"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div id="modal-placeholder"></div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/manage/booking.js" asp-append-version="true"></script>
}
