@model IEnumerable<booking_car_app.Entities.BookingInfo>

@{
    ViewData["Title"] = "Đơn hàng";
}

<div class="container-fluid">
    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-4 col-xs-4 col-lg-4">
                    <div class="jumbotron">
                        <h3>Điểm đến: @item.DiemDen</h3>
                        <h3>Điểm đón: @item.DiemDon</h3>
                        <label>Ngày đặt: @item.NgayTao.ToShortDateString() </label><br />
                        <label>Đơn giá: @string.Format("{0:#,##0}đ", item.UnitPrice) </label><br />
                        <a class="btn btn-primary btn-lg" href="#" role="button">Chi tiết</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

