@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <div class="welcome-page">
        <div class="row">
            <div class="col"></div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2> Welcome to E Booking Car</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <a href="/Home/Booking" class="btn btn-success menu">Booking</a>
                            </div>
                            <div class="col">
                                <a href="/Home/Driving" class="btn btn-warning menu">Driving</a>
                            </div>
                            <div class="w-100"></div><p></p>
                            <div class="col">
                                <a href="/Home/PersonalInformation" class="btn btn-info menu">Personal Information</a>
                            </div>
                            <div class="col">
                                <a href="/Home/ChangePassword" class="btn btn-dark menu">Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col"></div>
        </div>
    
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-6">
                <img src="~/background1.jpg" />
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>