<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/nhatnghe.css" rel="stylesheet" asp-append-version="true"/>
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" asp-append-version="true">
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="nn-header">
            <h1 class="nn-company">MANAGE BOOKING</h1>
            <h5 class="nn-slogan">App Booking</h5>
            <img class="nn-logo" src="~/img/header-object.png" />
        </header>

        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Trang chủ</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Hàng hóa</a></li>
                            <li><a href="">Nhà cung cấp</a></li>
                            <li><a href="">Chủng loại</a></li>
                            <li><a href="">Khách hàng</a></li>
                            <li><a href="">Hóa đơn</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thống kê <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="media-heading">Kiểm kê hàng tồn</li>
                            <li><a href="">Theo loại</a></li>
                            <li><a href="">Theo hãng</a></li>
                            <li class="media-heading">Thống kê doanh số</li>
                            <li><a href="">Theo từng mặt hàng</a></li>
                            <li><a href="">Theo từng loại hàng</a></li>
                            <li><a href="">Theo từng hãng</a></li>
                            <li><a href="">Theo từng khách hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="">Theo từng năm</a></li>
                            <li><a href="">Theo từng quí</a></li>
                            <li><a href="">Theo từng tháng</a></li>
                        </ul>
                    </li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tài khoản <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Đăng xuất</a></li>
                            <li><a href="">Đổi mật khẩu</a></li>
                            <li class="divider"></li>
                            <li><a href="">Quản lý tài khoản</a></li>
                            <li><a href="">Phân quyền</a></li>
                        </ul>
                    </li>
                </ul>*@
            </div>
        </div>

        <div class="nn-sheet">

            <article class="nn-body">
                @RenderBody()
            </article>

            <hr />
            <footer>
                <p>&copy; 2024 - APP BOOKING CAR</p>
            </footer>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-colreorder/js/dataTables.colReorder.js"></script>
    <script src="~/lib/datatables.net-select/js/dataTables.select.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
